:root {
    --header: #b3e140; 
    --second: #6387c3;
    --second2: #d1f3ee;
    --gray: #ffffff80;
    --shadow: 0 8px 8px;
    --color-shadow: #00000033;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 100px 0;
    height: auto;
}   
/* Header */
.hero{
    width: 100%;
    min-height: 100vh;
    background: var(--header);
}
.nav-hero{
    color: aliceblue;
    height: 70px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 0;
}
.logo{
    font-size: 24px;
}
.link{
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-weight: 700;
    padding: 10px;
}
.link-active{
    color: var(--second);
    font-weight: 700;
    text-decoration: none;
}
.hero-section{
    height: calc(100vh - 70px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
.img-header{
    object-fit: cover;
    width: 48%;
    max-height: 90vh;
}
.hero-text{
    width: 48%;
}
.titulo{
    font-size: 56px;
    font-weight: 300;
    color: #ffffff;
}
.title-change{
    color: var(--second);
    font-weight: 700;
}
.second{
    font-size: 24px;
    color: var(--gray);
    text-shadow: var(--shadow) var(--color-shadow);
    margin: 15px 0;
}
.second-change{
    font-weight: 700;
}
.btn{
    padding: 20px 30px;
    display: inline-block;
    background: linear-gradient(180deg, #6387c3 0% , #8baee9 100%);
    text-decoration: none;
    color: black;
    font-weight: 700;
    box-shadow: var(--shadow) var(--color-shadow);
    border-radius: 6px;
}

/* Productos */
.productos{
    background: #ffffff;
}
.subtitulo{
    font-size: 42px;
}
.container-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    width: 30%;
    padding: 30px 0;
    overflow: hidden;
    text-align: right;
    background: linear-gradient(180deg, #6387c3 0% , #8baee9 100%);
    border-radius: 10px;
    position: relative;
    margin-bottom: 60px;
    box-shadow: 0 0 6px var(--color-shadow);
}
.card-img{
    text-align: left;
    width: 95%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}
.card-text{
    text-align: left;
    width: 90%;
    margin: 0 auto;
}
.card-list{
    color: var(--second2);
    font-weight: 700;
    margin: 25px 0 12px;
    font-size: 18px;
}
.card-titulo{
    font-size: 40px;
    color: aliceblue;
    margin-bottom: 8px;
}
.card-descripcion{
    margin-bottom: 16px;
}
.card-button{
    display: block;
    background: linear-gradient(180deg, #2a6bb4 0%, #3e76b4 100%);
    border-radius: 6px;
    text-decoration: none;
    width: 100%;
    color: #d1f3ee;
    font-weight: 700;
    text-align: center;
    padding: 12px 0;
}

/* Sucursal*/
.card-date{
    color: var(--second2);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
}
.container-bg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.sucursal-img{
    width: 68%;
    height: 290px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 60px;
}
.suc-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}
.sucursal-text{
    position: absolute;
    width: 100%;
    bottom: 30px;
    left: 15px;
    color: #ffffff;
}
.sucursal-titulo{
    font-size: 24px;
    margin-bottom: 4px;
}

/* Comentario */
.comentario{
    background: #fafafa;
}
.comentario-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.comentario-card{
    width: 30%;
    height: 500px;
    background: linear-gradient(180deg,  #6387c3 0% , #8baee9 100%);
    border-radius: 10px;
    position: relative;
    margin-bottom: 30px;
}
.comentario-img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
    object-position: center top;
}
.comentario-campo{
    position: absolute;
    bottom: 20px;
    left: 5%;
    width: 90%;
    background: linear-gradient(180deg,  #6387c3 0% , #8baee9 100%);
    color: aliceblue;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: var(--shadow) var(--color-shadow);
    padding: 15px 8px;
    display: flex;
    align-items: center;
}
.comentario-logo{
    font-size: 40px;
    margin-right: 15px;
    display: inline-block;
}
.comentario-person{
    font-size: 24px;
    line-height: 28px;
}
.comentario-detalle{
    color: var(--second2);
}
.comentario-text{
    padding: 40px 0;
    width: 90%;
    margin: 0 auto;
}
.nik-logo{
    width: 80px;
    height: 50px;
    object-fit: cover;
    margin-bottom: 20px;
}
.nik-text{
    color: var(--gray);
    font-size: 21px;
    font-weight: 300;
}
.black{
    background: black;
}
.comentario-info{
    width: 70%;
}
.none{
    background: none;
    box-shadow: none;
}
.img-logo{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center top;
}

/* section email */
.email-container{
    width: 100%;
}
.email-container .subtitulo{
    text-align: center;
    padding-bottom: 50px;
}
.copy_section{
    font-size:22px;
    line-height: 32px;
    margin-bottom: 60px;
    text-align: center;
}
.check{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
}
.check-item{
    width: 30%;
    padding-right: 10px;
    display: flex;
    /*separacion vertical*/
    border-right: 2px solid black;
}
.bx-check{
    background: linear-gradient(180deg, #6387c3 0% , #8baee9 100%);
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-right: 20px;
    color: aliceblue;
    border-radius: 50%;
    font-size: 40px;
}
.check-numero{
    font-weight: 700;
}
.check-text{
    font-weight: 300;
}
.datos{
    width: 60%;
    margin: 0 auto;
    margin-top: 40px;
    height: auto;
    font-weight: inherit;
    position: relative;
    border-radius: 6px;
}
.datos-text{
    width: 100%;
    height: 100%;
    padding: 22px 10px;
    outline: none;
    font-family: inherit;
    border-radius: 6px;
    border: 1px solid black;
}
.datos-submit{
    position: absolute;
    right: 8px;
    top: 10%;
    height: 80%;
    background: linear-gradient(180deg, #6387c3 0% , #8baee9 100%);
    color: var(--second2);
    padding: 0 15px;
    border: none;
    border-radius: 6px;
    font-family: inherit;
    font-weight: 700;
    cursor: pointer;
}
/* Footer */
.footer{
    background: #fafafa;
}
.footer-div{
    display:flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}

.app-section{
    width: 50%;
}
.app{
    display: flex;
}
.app-item{
    display: flex;
    padding:18px 12px;
    border-radius: 6px;
    border: 1px solid black;
    width: 42%;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 16px;
}
.app-logo{
    font-size: 40px;
    margin-right: 20px;
}
.app-titulo{
    font-size: 18px;
}
.footer-text{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.copyright{
    width: 100%;
}
.politica{
    color: black;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}
.politica:hover{
    text-decoration: underline;
}
.margin{
    margin-right: 10px;
}
.email-section{
    width: 50%;
}
.modificado{
    margin: 0;
    width: 80%;
}
.titulo-footer{
    font-size: 24px;
    margin-bottom: 32px;
}   
.redes{
    margin-top: 24px;
    display: flex;
}
.redes-text{
    margin-right: 16px;
}
.redes-icon{
    font-size: 18px;
    margin-right: 30px;
    display: inline-block;
}

/* Contacto */
.contact{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    color: aliceblue;
}
.item-contact{
    width: 25%;
    padding: 60px 0;
    text-align: center;
    background: linear-gradient(180deg, #6387c3 0% , #8baee9 100%); 
}
.select{
    background: linear-gradient(180deg, #2a6bb4 0%, #3e76b4 100%);
    color: var(--second2);
}
.logo-contact{
    font-size: 14px;
    line-height: 20px;
    margin-right: 4px;
    color: #b3e140;
}
.color{
    color: var(--second2);
}
.contact-text{
    font-size: 16px;
    line-height: 20px;
}
@media screen and (max-width:900px) {
    .img-header{
        width: 600px;
        height: auto;
    }
    .titulo{
        font-size: 50px;
    }
    .second{
        font-size: 22px;
    }
    .btn{
        padding: 15px 22px;
    }
    .container-cards{
        justify-content: space-evenly;
    }
    .productos .card{
        width: 45%;
    }
    .sucursal-img{
        width: 52%;
    }
    .card{
        width: 42%;
    }
    .comentario-container{
        justify-content: space-evenly;
    }
    .comentario-card{
        width: 45%;
    }
    .check-item{
        width: 45%;
        margin-bottom: 35px;
    }
    .datos{
        width: 80%;
    }
    .app-section{
        width: 100%;
    }
    .app{
        justify-content: space-between;
    }
    .app-item{
        width: 45%;
    }
    .email-section{
        width: 100%;
        margin-bottom: 40px;
    }
    .redes-text{
        font-size: 18px;
    }
}
@media screen and (max-width:700px) {
    main .container, footer .container{
        padding: 60px 0;
    }
    .nav-container{
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .nav-hero{
        height: auto;
    }
    .logo{
        padding: 15px 0;
        text-align: center;
    }
    .links{
        padding-bottom: 10px;
        text-align: center;
    }
    .link{
        padding: 7px 10px;
    }
    .hero-section{
        flex-direction: column-reverse;
        justify-content: flex-end;
        height: auto;
        padding: 30px 0;
    }
    .hero-text{
        width: 100%;
        text-align: center;
    }
    .img-header{
        width: 80%;
        margin-bottom: 20px;
    }
    .titulo{
        font-size: 35px;
    }
    .second{
        font-size: 20px;
    }
    .subtitulo{
        font-size: 35px;
        text-align: center;
    }
    .copy_section{
        font-size: 20px;
        text-align: center;
    }
    .productos .card{
        width: 80%;
    }
    .container-bg{
        justify-content: space-evenly;
    }
    .card{
        margin-bottom: 40px;
        width: 65%;
    }
    .card-titulo{
        font-size: 35px;
    }
    .card-button{
        width: 100%;
    }
    .sucursal-img{
        width: 65%;
        margin-bottom: 40px;
    }
    .sucursal-descripcion{
        display: none;
    }
    .comentario-card{
        width: 65%;
    }
    .comentario-person{
        font-size: 20px;
    }
    .modificado{
        width: 80%;
    }
    .item-contact{
        width: 100%;
        padding: 30px 0;
    }
}
@media screen and (max-width:500px){
    .img-header{
        width: 80%;
        margin-bottom: 15px;
    }
    .productos .card{
        width: 95%;
    } 
    .card{
        width: 95%;
    }
    .sucursal-img{
        width: 95%;
    }
    .comentario-card{
        width: 95%;
    }
    .nik-text{
        font-size: 20px;
    }
    .email-container{
        width: 90%;
    }
    .check-item{
        width: 100%;
        border: none;
        padding: none;
        justify-content: center;
    }
    .datos{
        width: 100%;
    }
    .app-item{
        width: 49%;
    }
    .app-logo{
        font-size: 30px;
    }
    .app-titulo{
        font-size: 16px;
    }
}